<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<div th:insert="fragment/CommonUi :: link"></div>
<body>
	<div class=container-fluid>
	<div th:insert="fragment/CommonUi :: navmenu"></div>
		<div class="container">
		<h2 class="text-center text-white bg-info font-weight-bold font-italic mt-2 p-1">Order Method Mode Chart</h2>
			<a th:href="@{/ordermethod/all}" class="btn btn-info"><span class="fal fa-arrow-circle-left fa-lg"></span></a>
			<div class="row">
				<div class="col-md-6 text-center">
					<h5 class="text-subhead font-italic"><u>Order Method Mode Pie Chart</u></h5>
					<img th:src="@{/OrderMethodPieChart.png}">
				</div>
				<div class="col-md-6 text-center">
					<h5 class="text-subhead font-italic"><u>Order Method Mode Bar Chart</u></h5>
					<img th:src="@{/OrderMethodBarChart.png}">
				</div>
			</div>
		</div>
	</div>



</body>
</html>