<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<div th:insert="fragment/CommonUi :: link"></div>
<body>
	<div class=container-fluid>
	<div th:insert="fragment/CommonUi :: navmenu"></div>
		<div class="container">
		<h2 class="text-center bg-info text-white font-weight font-italic p-1 mt-2">Purchase Order Chart</h2>
			<a th:href="@{/purchaseorder/all}" class="btn btn-info"><span class="fal fa-arrow-circle-left fa-lg"></span></a>
			<div class="row">
				<div class="col-md-6 text-center">
					<h5 class="text-subhead font-italic"><u>Purchase Order Pie Chart</u></h5>
					<img th:src="@{/PurchaseOrderPieChart.png}">
				</div>
				<div class="col-md-6 text-center">
					<h5 class="text-subhead font-italic"><u>Purchase Order Bar Chart</u></h5>
					<img th:src="@{/PurchaseOrderBarChart.png}">
				</div>
			</div>
		</div>
	</div>

</body>
</html>