<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<div th:insert="fragment/CommonUi :: link"></div>
<body>
	<div class=container-fluid>
	<div th:insert="fragment/CommonUi :: navmenu"></div>
		<div class="container">
		<h2 class="text-center text-white bg-info font-italic font-weight-bold p-1 mt-2">Shipment Type Mode Chart</h2>
			<a th:href="@{/shipmenttype/all}" class="btn btn-info"><span class="fal fa-arrow-circle-left fa-lg"></span></a>
			<div class="row">
				<div class="col-md-6 text-center">
					<h5 class="text-subhead font-italic"><u>Shipment Type Mode Pie Chart</u></h5>
					<img th:src="@{/ShipmentTypePieChart.png}">
				</div>
				<div class="col-md-6 text-center">
					<h5 class="text-subhead font-italic"><u>Shipment Type Mode Bar Chart</u></h5>
					<img th:src="@{/ShipmentTypeBarChart.png}">
				</div>
			</div>
		</div>
	</div>
</body>
</html>