<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<div th:insert="fragment/CommonUi :: link"></div>
<script type="text/javascript" th:src="@{/js/WhUserType.js}"></script>
<body>
	<div class="container-fluid">
	<div th:insert="fragment/CommonUi :: navmenu"></div>
		<div class="container">
			<h2 class="text-white text-center bg-info p-1 mt-2 font-weight-bold font-italic">WH USER TYPE REGISTRATION PAGE</h2>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					
					<form id="whUserTypeReg" class="form" th:action="@{/whusertype/save}" method="post" th:object="${whUserType}">
						<div class="row">
							<div class="col-md-6 form-group pl-5 pr-5 pt-1 pb-1">
								<label for="userType">User Type</label>
								<div>
									<input type="radio" th:field="*{userType}" value="Vendor"> Vendor
									<input type="radio" th:field="*{userType}" value="Customer" class="ml-4"> Customer
								</div>
								<span id="userTypeError"></span>
							</div>
							<div class="col-md-6 form-group pl-5 pr-5 pt-1 pb-1">
								<label for="userCode">User Code</label>
								<div>
									<input type="text" th:field="*{userCode}" class="form-control">
								</div>
								<span id="userCodeError"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group pl-5 pr-5 pt-1 pb-1">
								<label for="userFor">User For</label>
								<div>
									<input type="text" th:field="*{userFor}" class="form-control" readonly="readonly">
								</div>
								<span id="userForError"></span>
							</div>
							<div class="col-md-6 form-group pl-5 pr-5 pt-1 pb-1">
								<label for="userEmail">User Email</label>
								<div>
									<input type="text" th:field="*{userEmail}" class="form-control">
								</div>
								<span id="userEmailError"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group pl-5 pr-5 pt-1 pb-1">
								<label for="userContact">User Contact</label>
								<div>
									<textarea th:field="*{userContact}" class="form-control"></textarea>
								</div>
								<span id="userContactError"></span>
							</div>
							<div class="col-md-6 form-group pl-5 pr-5 pt-1 pb-1">
								<label for="userIdType">User id Type</label>
								<div>
									<select th:field="*{userIdType}" class="form-control">
										<option value="">--SELECT--</option>
										<option value="PAN CARD">PAN CARD</option>
										<option value="AADHAR">AADHAR</option>
										<option value="VOTER ID">VOTER ID</option>
										<option value="OTHER">OTHER</option>
									</select>
								</div>
								<span id="userIdTypeError"></span>
							</div>
						</div>
						<div class="row">
							<div id="otherId" class="col-md-6 form-group pl-5 pr-5 pt-1 pb-1">
								<label for="ifOther">If Other</label>
								<div>
									<input type="text" th:field="*{ifOther}" class="form-control">
								</div>
								<span id="ifOtherError"></span>
							</div>
							<div class="col-md-6 form-group pl-5 pr-5 pt-1 pb-1">
								<label for="idNumber">Id Number</label>
								<div>
									<input type="text" th:field="*{idNumber}" class="form-control">
								</div>
								<span id="idNumberError"></span>								
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6 form-group pl-5 pr-5 pt-1">
								<input type="submit" value="Create User" class="btn btn-primary btn-block">
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div th:if="${message != null || errorMessage != null }" class="text-center p-1 bg-info text-white">
				<span th:text="${message}" class="text-white"></span>
				<span th:text="${errorMessage}" class="text-white"></span>
			</div>
		</div>
	</div>
</body>
</html>